@charset "UTF-8";
* {
  margin: 1%;
  padding: 1%;
  border: 1%; }

/*entiendo que no tengo que poner el header porque lo llamo con el import de la página hecha especialmente*/
header {
  background-color: beige; }

body {
  background-color: beige; }
  body .titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    color: brown; }
  body .subtitulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: chocolate; }
  body .navv {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 25px;
    color: chocolate; }
  body .main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
    color: chocolate;
    text-align: center; }
  body .variedad {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    font-style: italic;
    color: chocolate; }
  body .texto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
    text-align: justify;
    color: chocolate; }
  body footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
    text-align: justify;
    color: chocolate; }
